@media (max-width: 1025px) {
  html {
    font-size: 56.25%; // 1rem = 9px
  }
  .header__nav-list {
    &--item a {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 800px) {
  .section-projects-book {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-projects-documentary {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2.5rem;
    .section-projects__content-item:nth-child(4) {
      grid-column: 2;
    }
  }
}

@media (max-width: 769px) {
  html {
    font-size: 50%; // 1rem = 8px
  }
}

// responsive i ayrı dosyaya atmayı sikim

@media (max-width: 750px) {
  .section-hero--img {
    width: 35%;
    height: 50%;
  }
  .section-hero__content {
    &--title {
      font-size: 4rem;
    }
    &--text {
      font-size: 1.4rem;
      max-width: 22rem;
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%; // 1rem = 6px
  }
  .header__nav {
    display: none;
    transition: all 0.8s ease;
    display: flex;
    position: absolute;
    width: 0;
    opacity: 0;
    visibility: hidden;
    padding-inline-start: 1rem;
    padding-block: 5rem 2rem;
    left: 0;
    &-list {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 14rem;
      gap: 1rem;
      &--item a {
        color: black;
      }
    }
  }
  .header {
    justify-content: flex-start;
    padding: 0;
    padding-inline: 2rem;
    position: relative;
  }
  .header--btn {
    display: flex;
    position: relative;
    div:nth-child(1) {
      border-radius: 0.3rem;
      content: "";
      position: absolute;
      width: 100%;
      height: 10%;
      background-color: #fff;
      transition: all 1s ease;
    }
    div:nth-child(2) {
      border-radius: 0.3rem;
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 10%;
      top: 45%;
      transition: all 1s ease;
    }
    div:nth-child(3) {
      border-radius: 0.3rem;
      content: "";
      position: absolute;
      width: 100%;
      height: 10%;
      bottom: 0;
      background-color: #fff;
      transition: all 1s ease;
    }
  }
  .header--btn.active {
    z-index: 1;
    filter: invert(1);
    div:nth-child(2) {
      opacity: 0;
    }
    div:nth-child(1) {
      top: 0%;
    }
    div:nth-child(3) {
      bottom: 50%;
    }
  }
  .header__nav.active {
    height: fit-content;
    background-color: #fff;
    color: black;
    width: 40%;
    padding-inline-start: 1rem;
    padding-block: 5rem 2rem;
    opacity: 1;
    visibility: visible;
    .header__nav-list {
      &--item a {
        color: black;
      }
    }
  }
  .section-about {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .section-events__wrapper-container {
    flex-direction: column !important;
    text-align: center !important;
    justify-content: center !important;
    height: fit-content;

    &__content {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
      text-align: center;
      gap: 2rem;

      p {
        text-align: center !important;
      }
    }
  }
  .section-contact__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-list {
      align-items: center;
    }
  }
  .section-events__wrapper-container--img {
    height: fit-content;
    margin-bottom: 1rem;
  }
  .section-events {
    gap: 2rem;
  }
  .section-events__wrapper {
    row-gap: 5rem;
  }
}

@media (max-width: 550px) {
  .section-contact__wrapper {
    gap: 3rem;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 31.25%; // 1rem = 5px
  }
  .section-events__wrapper-container--text {
    width: 100%;
  }
  .section-events__wrapper-container--img {
    width: 100%;
  }
  .section-events__wrapper-container:nth-child(odd) .section-events__wrapper-container__content {
    width: 100%;
  }
  .section-events__wrapper-container:nth-child(1) {
    margin-bottom: -10rem;
  }
  .section-events__wrapper {
    grid-template-rows: 0.6fr 0.6fr 1fr 1fr 1fr;
  }
  .section-projects-book {
    grid-template-columns: 1fr !important;
    row-gap: 5rem;
    width: 90%;
  }
  .section-projects__content {
    padding-inline: 6rem;
  }
  .section-projects-documentary {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 321px) {
  html {
    font-size: 45%; // 1rem = 4px
  }
  .section-about {
    padding-inline: 4rem;
  }
}
