.section-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding-inline: 10rem;
  gap: 2rem;
  padding-block: 5rem;

  &--title {
    font-size: map-get($font-sizes, xxl);
    font-weight: map-get($font-weights, semi-bold);
  }

  &--text {
    font-size: map-get($font-sizes, base);
    line-height: 175%;
    font-weight: map-get($font-weights, tiny);
    text-align: justify;
  }
}
