.section-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-block: 5rem;
  background-color: #222;

  &--title {
    font-size: map-get($font-sizes, xxxl);
    font-weight: map-get($font-weights, semi-bold);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;

    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 80%;

      &__content {
        width: 50%;
      }

      &:nth-child(even) {
        .section-events__wrapper-container__content {
          align-items: start;
          justify-content: space-between;
          display: flex;
          flex-direction: column;
          justify-items: center;
          gap: 2rem;
          p {
            &:nth-child(2) {
              text-align: left;
            }
          }
        }
      }
      &:nth-child(odd) {
        .section-events__wrapper-container__content {
          align-items: end;
          justify-content: space-between;
          display: flex;
          flex-direction: column;
          justify-items: center;
          gap: 2rem;
          p {
            &:nth-child(2) {
              width: fit-content;
              text-align: right;
            }
          }
        }
      }

      &--img {
        aspect-ratio: 1/1;
        height: 100%;
      }

      &--title {
        font-size: map-get($font-sizes, "l");
        max-width: 80%;
        text-align: right;
      }

      &--text {
        font-size: map-get($font-sizes, "base");
        width: 70%;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &:nth-child(odd) {
        .section-events__wrapper-container--text {
          text-align: right;
        }
      }
    }
  }
}
