.section-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 10rem 4rem;

  &--title {
    font-size: map-get($font-sizes, xxxl);
    font-weight: map-get($font-weights, semi-bold);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding-inline: 6rem;

    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &__content {
        width: 50%;
      }

      &:nth-child(even) {
        .section-events__wrapper-container__content {
          align-items: center;
          justify-content: center;
          display: grid;
          justify-items: center;
          p {
            &:nth-child(2) {
              text-align: center;
            }
          }
        }
      }
      &:nth-child(odd) {
        .section-events__wrapper-container__content {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          p {
            &:nth-child(2) {
              width: fit-content;
              text-align: center;
            }
          }
        }
      }

      &--img {
        height: 40rem;
        width: 50%;
        object-fit: cover;
      }

      &--title {
        font-size: map-get($font-sizes, "l");
        max-width: 80%;
        text-align: center;
      }

      &--text {
        font-size: map-get($font-sizes, "base");
        width: 70%;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &:nth-child(odd) {
        .section-events__wrapper-container--text {
          text-align: right;
        }
      }
    }
  }
}
