:root {
  --gallery-bottom-margin: 25rem;
  --gallery-image-height: 16rem;
}

.section-gallery {
  position: relative;
  &--title {
    text-align: center;
    margin-bottom: 2rem;
  }
  &-btn {
    width: 4rem;
    height: 4rem;
    position: absolute;
    fill: none;
    z-index: 21;
    cursor: pointer;
    background-color: #000;
    border-radius: 50%;
    padding: 1rem;
    transition: all 0.2s ease;
    top: calc(var(--gallery-bottom-margin) * 0.5);
    user-select: none;
    &:nth-child(2):hover {
      transform: translateY(-50%) scale(1.1);
    }
    &:nth-child(3):hover {
      transform: translateY(-50%) scaleX(-1) scale(1.1);
    }
    &:nth-child(2) {
      left: 1rem;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      right: 1rem;
      transform: translateY(-50%) scaleX(-1);
    }
  }
  &__content {
    &-wrapper {
      display: grid;
      width: fit-content;
      width: 100%;
      justify-content: center;
      padding-inline: 10%;
    }
    width: fit-content;
    transition: all 0.3s ease;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &-list {
      width: 100%;
      padding: 0.5rem;
      display: block;
      div {
        height: auto;
        width: 100%;
        overflow: hidden;
        border-radius: 1rem;
        border: 2px solid rgb(209, 209, 209);
        margin-bottom: 1rem;
        img {
          height: 120%;
          width: 100%;
          transition: all 0.4s ease;
          transform: scale(1.04);
        }
        &:hover {
          img {
            transform: scale(1.17);
          }
        }
      }
    }
    &-item {
      height: var(--gallery-image-height);
    }
  }
}
