.section-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  &--title {
    font-size: map-get($font-sizes, xxxl);
    font-weight: map-get($font-weights, semi-bold);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3rem;
    padding-inline: 6rem;

    &-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      &--img {
        height: 20rem;
        width: 20rem;
        object-fit: cover;
      }

      &--text {
        font-size: map-get($font-sizes, m);
        width: 50%;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &:nth-child(odd) {
        .section-events__wrapper-container--text {
          text-align: right;
        }
      }
    }
  }
}
